---
import Layout from '../../layouts/Layout.astro';
import sqlite3 from 'sqlite3';
import type { TitleType } from '../../types/model';
import { getAllAuthors } from '../../lib/functions';


const dbPath = import.meta.env.COMICDB_PATH;
const db = new sqlite3.Database(dbPath);

const authors = await getAllAuthors(db);

db.close();

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>作者一覧</h1>
		<div>
            {authors.map(t => (
                <div><a href={`/author/${t.id}`}>{t.name}</a></div>
            ))}
		</div>
		<div>
			<a href="/">TOPへ</a>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 2rem;
		font-weight: 400;
	}
    main > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 800px;
        margin: auto;
        padding: 0;
        font-size: 80%;
    }
    main > div > div {
        margin: 0;
        width: 400px;
    }

	a {
		margin-left: 0.5rem;
	}
</style>
