---
import Layout from '../../layouts/Layout.astro';
import sqlite3 from 'sqlite3';
import type { TitleType } from '../../lib/types';
import { getAllAuthors } from '../../lib/functions';


const dbPath = import.meta.env.COMICDB_PATH;
const db = new sqlite3.Database(dbPath);

const authors = await getAllAuthors(db);

db.close();

---

<Layout title="Comic Magazine Data - Authors">
	<main>
		<h1>作者一覧</h1>
		<div>
            {authors.map(t => (
                <div><a href={`./${t.id}`}>{t.name}</a></div>
            ))}
		</div>
		<div>
			<a href="..">TOPへ</a>
		</div>
	</main>
</Layout>

<style>
    main > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        padding: 0;
        font-size: 80%;
    }
    main > div > div {
        margin: 0;
        width: 400px;
    }
</style>
