--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		background-color: #F6F6F6;
		font-family: sans-serif;
		font-size: 14px;
		line-height: 1.5rem;
	}
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: bold;
	}
    h2 {
		font-size: 1.2rem;
		font-weight: bold;
    }
	a {
		margin-left: 0.5rem;
	}	
</style>
